@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #f07509; 
  --color-accent: #111827;  
  --color-bg: #ffffff;      
  --color-text: #000000;  
}

/* :root {
  --color-primary: #7FC7D9;
  --color-accent: #365486; 
  --color-bg: #DCF2F1; 
  --color-text: #0F1035;   
} */

/* :root {
  --color-primary: #3b82f6;
  --color-accent: #10b981; 
  --color-bg: #000000; 
  --color-text: #ABE7B2;   
} */

/* :root {
  --color-primary: #ABE7B2;
  --color-accent: #CBF3BB; 
  --color-bg: #93BFC7; 
  --color-text: #f3f4f6;   
} */

